---
//interface Props {
	//title: string;
	//body: string;
	//href: string;
//}

//const { href, title, body } = Astro.props;
---

<div class="card">
	<img src="../public/Cancato.png" alt="Comida de ...">
	<div class="card-info">
		<h2>El Cancato</h2>
		<p>El cancato es un plato de pescado a la parrilla típico de la gastronomía del sur de Chile, especialmente de la cocina de Chile y de la provincia de Llanquihue.</p>
	</div>
	<div class="card-footer">
		<span>Chile</span>
		<button>Ingredientes</button>
	</div>
</div>

<style>
	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #f0f0f0;
		border-radius: 5px;
		padding: 1rem;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
		width: 100%;
		max-width: 300px;
	}

	.card-info > p {
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: 1px solid #000000;
	}

	.card-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.card-footer > span {
		background-color: orange;
		padding: 5px;
		border-radius: 15px;
	}

	.card-footer > button {
	    background-color: orange;
		padding: 7px;
		border-radius: 15px;
		font-weight: 500;
		border: 0;
		cursor: pointer;
	}
</style>
