<header>
    <img src="../public/logo.png" alt="Logo de la amarca" />
    
    <div class="options">
        <a href="#">Paises</a>
        <ul>
            <li>Argentina</li>
            <li>Bolivia</li>
            <li>Chile</li>
            <li>Colombia</li>
            <li>Costa Rica</li>
            <li>Ecuador</li>
            <li>El Salvador</li>
            <li>Guatemala</li>
            <li>Honduras</li>
            <li>México</li>
            <li>Nicaragua</li>
            <li>Panamá</li>
            <li>Paraguay</li>
            <li>Perú</li>
            <li>Trinidad y Tobago</li>
            <li>Uruguay</li>
            <li>Venezuela</li>
        </ul>
    </div>
    </div>
</header>

<style>
    header {
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 100px;
        height: auto;
        object-fit: cover;
        margin: 5px;
    }

    a {
        width: 100vw;
        padding: 20px;
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 18px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }

    ul {
        display: none;
    }

    a:hover {
        transition: all 0.3s ease-in-out;
        background-color: #be9858;
    }

    
</style>
